@import "../general/palette.scss";
@import "../general/fonts.scss";
@import "../general/colorScheme.scss";

.experience-title {
  width: 100%;
  height: 100%;
  box-shadow: $shadow;
}
// # timeline
.time-container {
  display: grid;
  grid-template-areas:
  "header header header"
  "description description description"
  "projects-header projects-header projects-header"
  "projects projects projects"
  "date-reversed blank date";
  justify-content: center;
  align-items: center;
  box-shadow: $shadow;
  
  @include experiencePositionDescriptionFont;
}
.time-header {
  @include experiencePaletteJobHeader;
  @include experiencePositionHeaderFont;
  grid-area: header;
  margin-bottom: 5px;
}
.monkey {
  font-size: 1rem;
}
.time-text {
  grid-area: description;
  margin-bottom: 5px;
  // font-size: 1rem;

  text-align: left;
}
.time-projects-header {
  // font-weight: lighter;
  text-align: left;
  grid-area: projects-header;
}
.time-projects {
  @include experiencePaletteJobHeader;
  grid-area: projects;
  margin-bottom: 5px;
  // font-size: 1rem;
  text-align: left;
}

.time-projects-icons {
  grid-area: icons-projects;
}
.time-date {
  @include experiencePositionDateFont;
  @include experiencePaletteJobDate;
  grid-area: date;
  padding: 2px;
}
.time-date-reversed {
  @include experiencePaletteJobDate;
  font-size: 0.8rem;
  grid-area: date-reversed;
  padding: 2px;
}
