
// fonts
$font1: "Fira Sans Extra Condensed", sans-serif;
$font2: "Cairo", sans-serif;
$font3: "News Cycle", sans-serif;
$font4: "Rajdhani", sans-serif;
$font5: "Cuprum", sans-serif;
$font6: "IBM Plex Sans", sans-serif;
$font7: "Poiret One", cursive;
$font8: "Josefin Slab", serif;
$font9: "Unica One", cursive;
$font10: "Julius Sans One", sans-serif;