// colors
$paleAqua: #bfd7ea;
$metalicSeaweed: #087e8b;
$ogreOdor: #ff4b3e;
// bootstrap override

$newPrimary: #001427;
$newSecondary: orange;
$newSuccess: #a3ffbe;
$newDanger: #990100;
$newWarning: #00b9ae;
$newInfo: #f3eff5;
// dedicated
$projectVariant1: $paleAqua;
$projectVariant2: $metalicSeaweed;
$shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
