@import "../general/palette.scss";
@import "../general/fonts.scss";
@import "../general/colorScheme.scss";

.contact-title {
  width: 100%;
  height: 100%;
  @include contactPaletteSectionHeader;
}

.contact-how-to-reach-me {
  @include contactReachElementFont;
  @include contactPaletteHowToReachMe;
  
  width: 100%;
  a {
    text-decoration: none;
  }
  padding: 0.2rem;
  // height: 100%;
  .reach-me-icon {
    font-size: 1.5rem;
  }
  .title-reach-me {
    @include contactReachHeaderFont;
  }
  .reach-me-item:hover {
    @include contactPaletteHowToReachMeItemHover;
  }
}

.contact-item {
  @include contactPaletteFormItem;
  @include contactFormElementsFont;

}
.item-label {
  text-transform: uppercase !important;
  @include contactFormLabelsFont;
  // font-weight: bold;
}
.button-submit {
  float: right;
  @include contactPaletteSubmitButton;
  @include contactFormSubmitButtonFont;
}
