//vars
$shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
$grey: #262626;
$primary: #ddd;
// imports
// @import "../general/components.scss";
//rest
.bg-black {
  color: #fff;
  background: #000;
}
#main-header img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}
#main-header .main-header-item {
  width: 30%;
}
@media (min-width: 1199px) {
  #main-header .main-header-item {
    padding: 3em !important;
  }
}
@media (max-width: 1199px) {
  #main-header .display-4 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
  }
}
#main-header-photo {
  //   position: relative;
  background: url(../../img/me-resized.jpg);
  //   background-position: cover;
  //   background-repeat: no-repeat;
  //   height: 100%;
  //   width: 100%;
  //   min-height: 600px;
  //
  height: 100%;
  width: auto; /*maintain aspect ratio*/
  //   max-width: 500px;
  //
  text-shadow: #000 0px 0px 2px;
}
// .top-container {
//   display: grid;
//   grid-gap: 20px;
//   grid-template-areas:
//     "showcase showcase top-box-a"
//     "showcase showcase top-box-b";
// }

// .showcase {
//   grid-area: showcase;
//   min-height: 400px;
//   background: url(../../img/me2.jpg);
//   background-size: cover;
//   background-position: 0% 30%;
//   padding: 3rem;
//   display: grid;
//   // flex-direction: column;
//   grid-template-areas:
//     "title title title"
//     "description description description"
//     "git-link linkedIn-link email"
//     "blank blank flip";
//   // align-items: flex-start;
//   // justify-content: center;
//   box-shadow: $shadow;
//   // filter: grayscale(70%);
//   z-index: 0;
//   h1 {
//     grid-area: title;
//     // grid-template-columns: repeat(4, 1fr);
//     font-size: 4rem;
//     margin-bottom: 0;
//     color: var(--white);
//     text-shadow: #000 0px 0px 2px;
//   }
//   p {
//     grid-area: description;
//     // grid-template-columns: repeat(4, 1fr);
//     font-size: 1.3rem;
//     margin-top: 0;
//     // color: var(--white);
//     text-shadow: #000 0px 0px 2px;
//   }
//   .git-link {
//     grid-area: git-link;
//     // grid-template-columns: repeat(4, 1fr);
//     max-height: 25px;
//     max-width: 70px;
//     text-align: center;
//     background: $grey;
//     color: #fff;
//     padding: 0.6rem 1.3rem;
//     text-decoration: none;
//   }
//   .email {
//     grid-area: email;
//     // grid-template-columns: repeat(4, 1fr);
//     max-height: 25px;
//     max-width: 70px;
//     text-align: center;
//     background: $grey;
//     color: #fff;
//     padding: 0.6rem 1.3rem;
//     text-decoration: none;
//   }
//   .linkedIn-link {
//     grid-area: linkedIn-link;
//     // grid-template-columns: repeat(4, 1fr);
//     max-height: 25px;
//     max-width: 70px;
//     text-align: center;
//     background: $grey;
//     color: #fff;
//     padding: 0.6rem 1.3rem;
//     text-decoration: none;
//   }
//   .flipBtn {
//     grid-area: flip;
//     // grid-template-columns: 100%;
//     max-height: 25px;
//     background: $grey;
//     text-align: center;
//     color: #fff;
//     padding: 0.6rem 1.3rem;
//     text-decoration: none;
//     border: 0;
//   }
// }
// .top-box {
//   // @include general-box;
//   background: $primary;
//   display: grid;
//   align-items: center;
//   justify-items: center;
//   box-shadow: $shadow;
//   padding: 1.5rem;
//   .price {
//     font-size: 2.5rem;
//   }
// }
// .top-box-a {
//   grid-area: top-box-a;
// }
// .top-box-b {
//   grid-area: top-box-b;
// }
