.turn-off-element {
  display: none !important;
}

.hide-element {
  visibility: hidden;
}

.add-blur {
  -webkit-filter: grayscale(50%) contrast(80%) brightness(40%);
          filter: grayscale(50%) contrast(80%) brightness(40%);
}

.projects-title {
  width: 100%;
  height: 100%;
}

.project-buttons-group {
  height: 480px;
  width: 100%;
}

.variant-1 {
  background: #bfd7ea;
}

.variant-2 {
  background: #087e8b;
}

.carousel .slide .screenshot-feature {
  font-size: 1rem !important;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  color: #231f20 !important;
  font-weight: bold;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  bottom: 15%;
  left: 50%;
  margin-left: -45%;
  width: 90%;
  background: #6fab9e;
  color: #231f20;
  padding: 10px;
  text-align: center;
  opacity: 0.25;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
  border: 2px dashed #231f20;
}

.carousel:hover .slide .screenshot-feature {
  opacity: 1;
}

.project-title-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.83);
  z-index: 1;
  width: 100%;
  height: 80px;
  top: 0;
}

.buttons-container {
  width: 60%;
  height: 80px;
}

.title-item {
  font-size: 2.3rem !important;
  font-family: "Cairo", sans-serif;
  color: #6fab9e !important;
  font-weight: bold;
  line-height: 0px;
  padding: 0 10px;
  opacity: 0.7;
}

.title-item:hover {
  opacity: 1;
}

.demo {
  color: #f37449;
  opacity: 0.7;
}

.demo:hover {
  color: #f37449;
  opacity: 1;
  text-decoration: none;
}

.info-overlay {
  color: #231f20;
  position: absolute;
  border-bottom: 3px dotted #231f20;
  background: #6fab9e;
  text-align: justify;
  text-justify: inter-word;
  top: 25%;
  width: 100%;
  height: 250px;
  z-index: 2;
}

.info-overlay .info-header {
  background: #f37449;
  font-size: 3rem !important;
  font-family: "News Cycle", sans-serif;
  color: #231f20 !important;
  font-weight: bold;
}

.info-overlay .info-body {
  background: #6fab9e;
  font-size: 1.5rem !important;
  font-family: "News Cycle", sans-serif;
  color: #231f20 !important;
  font-weight: inherit;
}

.info-overlay .close-icon {
  color: #231f20;
  font-size: 2rem;
}

.info-overlay .close-icon:hover {
  color: #f9a04e;
  font-size: 2rem;
}

.blank-button-overlay {
  position: absolute;
  background: #000;
  opacity: 0.83;
  z-index: 1;
  width: 20%;
  height: 80px;
  bottom: 0;
  left: 20%;
  text-align: center;
}

.git-button-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background: rgba(0, 0, 0, 0.83);
  z-index: 1;
  width: 20%;
  height: 80px;
  bottom: 0%;
  left: 0%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.git-button-overlay .git-icon {
  font-size: 3rem;
  opacity: 0.7;
  color: #f37449;
}

.git-button-overlay .git-icon:hover {
  opacity: 1;
}

.stack-overlay {
  position: absolute;
  background: #000;
  opacity: 0.83;
  z-index: 1;
  width: 50%;
  height: 80px;
  bottom: 0;
  left: 45%;
}

.pre-bracket-overlay {
  position: absolute;
  background: #000;
  opacity: 0.83;
  z-index: 1;
  width: 5%;
  height: 80px;
  max-height: 80px;
  bottom: 0;
  left: 40%;
  vertical-align: middle;
  text-align: center;
}

.after-bracket-overlay {
  position: absolute;
  background: #000;
  opacity: 0.83;
  z-index: 1;
  width: 5%;
  height: 80px;
  max-height: 80px;
  bottom: 0;
  left: 95%;
  text-align: center;
  vertical-align: middle;
}

.overlay-text {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 4.2rem;
  opacity: 1;
  color: #6fab9e;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.carousel-logo-label {
  font-size: 0.9rem !important;
  font-family: "Cuprum", sans-serif;
  color: #cca69a !important;
  font-weight: bold;
  margin: 0;
}

.icon-svg {
  padding-top: 8px;
}

.icon-svg img {
  height: 3rem;
}

.logo-icons i {
  padding-top: 8px;
  font-size: 3rem;
}

.nodejs-icon {
  color: #8cc84b;
}

.html-icon {
  color: #ef6026;
}

.css-icon {
  color: #25a1e1;
}

.js-icon {
  color: #f0db4f;
}

.react-icon {
  color: #5ed4f4;
}

.sass-icon {
  color: #cd6799;
}

.project-btn {
  padding: 0.7rem;
}

a.project-btn {
  position: relative;
  display: block;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a.project-btn::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#133160), to(#c96567));
  background: linear-gradient(to right, #133160 0%, #c96567 100%);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

a.project-btn:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media (max-width: 768px) {
  .icon-svg img {
    height: 1.5rem;
  }
  .logo-icons i {
    font-size: 1.5rem;
  }
  .blank-button-overlay h1 {
    font-size: 2rem;
  }
  .title-item {
    font-size: 1.9rem;
  }
}

@media (max-width: 560px) {
  .title-item {
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=projects-section.css.map */