//vars
@import "../general/palette.scss";
$shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
$grey: #262626;
$primary: #ddd;

$container-width: 600px;
$container-height: 480px;

$logo-height: 170px;
$logo-max-width: 500px;
// # behaviour
.turn-off-element {
  display: none !important;
}
.hide-element {
  visibility: hidden;
}
.add-blur {
  filter: blur(20px);
}

.projects-title {
  width: 100%;
  height: 100%;
  box-shadow: $shadow;
}
// # header
.projects-content {
  background: $newInfo;
  color: $newPrimary;
  height: 100%;
  box-shadow: $shadow;
}

.project-buttons-group {
  height: $container-height;
  //   height: 100%;
  width: 100%;
}
.variant-1 {
  background: $projectVariant1;
}
.variant-2 {
  background: $projectVariant2;
}
// # carousel
.carousel-img {
  // filter: blur(30px);
}

.carousel .slide .screenshot-feature {
  transition: all 0.5s ease-in-out;
  position: absolute;
  bottom: 15%;
  left: 50%;
  margin-left: -45%;
  width: 90%;
  background: #000;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  opacity: 0.25;
  transition: opacity 0.35s ease-in-out;
}
.carousel:hover .slide .screenshot-feature {
  opacity: 1;
}
// # top section
.project-title-overlay {
  position: absolute;
  background: #000;
  opacity: 0.5;
  z-index: 1;
  width: 100%;
  height: 80px;
  top: 0;
}
.title-item {
  font-size: 2.3rem;
}
// # middle section
.info-overlay {
  position: absolute;
  background: #000;
  opacity: 0.5;
  top: 25%;
  width: 100%;
  // filter: blur(8px);
  height: 250px;
  z-index: 2;
  .close-icon {
    color: #fff;
    font-size: 2rem;
  }
  .close-icon:hover {
    color: orange;
    font-size: 2rem;
  }
}
// # down section
$downSectionHeight: 80px;

.blank-button-overlay {
  position: absolute;
  background: #000;
  opacity: 0.5;
  z-index: 1;
  width: 20%;
  height: $downSectionHeight;
  bottom: 0;
  left: 20%;
  text-align: center;
}
.git-button-overlay {
  position: absolute;
  background: #000;
  opacity: 0.5;
  z-index: 1;
  width: 20%;
  height: $downSectionHeight;
  bottom: 0%;
  left: 0%;
  text-align: center;
}
// // technology stack section
// container
.stack-overlay {
  position: absolute;
  background: #000;
  opacity: 0.5;
  z-index: 1;
  width: 50%;
  height: $downSectionHeight;
  bottom: 0;
  left: 45%;
}
.pre-bracket-overlay {
  position: absolute;
  background: #000;
  opacity: 0.5;
  z-index: 1;
  width: 5%;
  height: $downSectionHeight;
  max-height: $downSectionHeight;
  bottom: 0;
  left: 40%;
  vertical-align: middle;
  text-align: center;
}
.after-bracket-overlay {
  position: absolute;
  background: #000;
  opacity: 0.5;
  z-index: 1;
  width: 5%;
  height: $downSectionHeight;
  max-height: $downSectionHeight;
  bottom: 0;
  left: 95%;
  text-align: center;
  vertical-align: middle;
  // padding: 0 !important;
  // margin: 0 !important;
}
.overlay-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 4.2rem;
  opacity: 1;
  color: #fff;
  margin-block-start: 0;
  margin-block-end: 0;
}
// # specific icons
// * labels
.carousel-logo-label {
  margin: 0;
}
// * vars
$iconSize: 3rem;
$paddingTopIcon: 8px;
$paddingBottomIcon: 8px;
// * icons
.icon-svg {
  padding-top: $paddingTopIcon;
  img {
    height: 3rem;
  }
  // padding-bottom: $paddingBottomIcon;
}
.logo-icons i {
  padding-top: $paddingTopIcon;
  font-size: $iconSize;
}
.nodejs-icon {
  color: #8cc84b;
}
.html-icon {
  color: #ef6026;
}
.css-icon {
  color: #25a1e1;
}
.js-icon {
  color: #f0db4f;
}
.react-icon {
  color: #5ed4f4;
}
.sass-icon {
  color: #cd6799;
}
// OLDISH
.project-btn {
  background: $primary;
  box-shadow: $shadow;
  padding: 0.7rem;
}
a.project-btn {
  position: relative;
  display: block;
  text-align: center;
  transition: 0.5s;
}
a.project-btn::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #133160 0%, #c96567 100%);
  // z-index: -1;
  transform: scaleX(0);
  transition: 0.5s;
  transform-origin: left;
}
a.project-btn:hover:before {
  transform: scaleX(1);
}

@media (max-width: 768px) {
  .icon-svg img {
    height: 1.5rem;
  }
  .logo-icons i {
    font-size: 1.5rem;
  }
  .blank-button-overlay h1 {
    font-size: 2rem;
  }
  .title-item {
    font-size: 1.9rem;
  }
}
@media (max-width: 560px) {
  .title-item {
    font-size: 1.3rem;
  }
}
