html {
  scroll-behavior: smooth;
}

.burger-button {
  float: right;
  height: 60px;
  width: 60px;
  text-align: center;
}

.nav-side-background {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
}

.nav-side {
  background: rgba(26, 25, 26, 0.8);
  border: inherit;
  position: absolute;
  z-index: 3;
  right: 0;
  top: 60px;
  width: 200px;
  height: 95vh;
  border: 1px solid black;
}

.nav-side .nav-side-items a {
  font-size: 1.5rem !important;
  font-family: "Rajdhani", sans-serif;
  color: #ad989d !important;
  font-weight: inherit;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 5px 20px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-side .nav-side-items a.focused {
  background: purple;
}

nav.black {
  background: rgba(26, 25, 26, 0.8);
  border: inherit;
  height: 60px;
}

.nav-side-items a,
nav.black .nav-right-links a {
  color: #88787c;
}

nav {
  font-size: 1.2rem !important;
  font-family: "Rajdhani", sans-serif;
  color: #231f20 !important;
  font-weight: inherit;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .logo {
  position: absolute;
  left: 1rem;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem !important;
  font-family: "Unica One", cursive;
  color: #231f20 !important;
  font-weight: bold;
}

nav .project-specific {
  font-size: inherit !important;
  font-family: inherit;
  color: #6fab9e !important;
  font-weight: inherit;
  float: left;
  margin: 0;
}

nav .project-specific span {
  line-height: 80px;
  padding: 5px 10px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .project-specific span.project-specific-demo {
  font-size: inherit !important;
  font-family: inherit;
  color: #f37449 !important;
  font-weight: inherit;
}

nav .project-specific span:hover {
  color: #fff !important;
  background: #6fab9e;
  border: inherit;
}

nav .nav-right-links {
  float: right;
  margin: 0;
}

nav .nav-right-links a {
  line-height: 80px;
  padding: 5px 20px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .nav-right-links a:hover {
  color: #fff !important;
  background: #6fab9e;
  border: inherit;
}

.nav-right-links .is-current a {
  color: #fff !important;
}

nav.selected-home .nav-right-links a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: none;
}

nav.selected-about .logo span {
  color: #a385bd;
}

nav.selected-about .is-current a {
  background: #a385bd;
  border: inherit;
}

nav.selected-skills .logo span {
  color: #f9a04e;
}

nav.selected-skills .is-current a {
  background: #f9a04e;
  border: inherit;
}

nav.selected-experience .logo span {
  color: #9ad18b;
}

nav.selected-experience .is-current a {
  background: #9ad18b;
  border: inherit;
}

nav.selected-projects .logo span {
  color: #f37449;
}

nav.selected-contact .is-current a {
  background: #f37449;
  border: inherit;
}

nav.selected-contact .logo span {
  color: #f37449;
}

nav.selected-projects .is-current a {
  background: #6fab9e;
  border: inherit;
}

@media (min-width: 769px) {
  .nav-right-links {
    display: inline;
  }
  .burger-button {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav-right-links {
    display: none;
  }
  .burger-button {
    display: inline;
  }
}
/*# sourceMappingURL=navbar-animated.css.map */