//vars
$black: #262626;
$white: #fff;
$active: purple;
$hover: #5f1e84;
$black-transparent: rgba(26, 26, 26, 0.8);
//rest
nav {
    // margin: 0;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    // padding: 10px; //100px 10px 100px;
    transition: .5s;
    .logo {
        float: left;
        opacity: .5;
        img {
            height: 80px;
            transition: .5s;
        }
    }
    ul {
        float: right;
        margin: 0;
        padding: 0;
        display: flex;
        li {
            list-style: none;
            a {
                line-height: 80px;
                padding: 5px 20px;
                color: $black;
                text-decoration: none;
                text-transform: uppercase;
                transition: .5s;
            }
            // a:focus-within {
            //     color: $white;
            //     background: $active;
            // }
            a:hover {
                color: $white;
                background: $hover;
            }
        }
    }
}
nav.black {
    background: $black-transparent;
    // padding: 10px;
    height: 60px;
}
nav.black ul li a {
    color: $white;
}
nav.black .logo img {
    height: 60px;
}
nav ul li a.focused{
    color: $white;
    background: $active;
}