@import "../general/palette.scss";
@import "../general/fonts.scss";
//vars

$black: #262626;
$white: #fff;
$active: purple;
$hover: #83bb00;
$black-transparent: rgba(26, 26, 26, 0.8);
// font
$navHeight: 60px;
//rest
html {
  scroll-behavior: smooth;
}
// nav from side
.burger-button {
  float: right;
  height: $navHeight;
  width: $navHeight;
  text-align: center;
}
.burger-icon {
  // width: $navHeight;
  // font-size: 1.5rem;
  // position: relative;
  // top: calc(50% - 14px); /* 50% - 3/4 of icon height */
  // color: $active;
}
.nav-side-background {
  position: absolute;
  z-index: 2;
  background: rgba(26, 25, 26, 0.6);
  width: 100vw;
  height: 100vh;
}
.nav-side {
  position: absolute;
  z-index: 3;
  right: 0;
  top: $navHeight;
  width: 200px;
  height: 95vh;
  background: $black-transparent;
  border: 1px solid black;
}
.nav-side .nav-side-items a {
  z-index: 3;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 5px 20px;
  color: $main_pal_11;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}
.nav-side .nav-side-items a.focused {
  // color: $main_pal_1;
  background: $active;
}
// navbar
nav {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navHeight;
  transition: 0.5s;

  .logo {
    float: left;
    opacity: 0.5;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 80px;
      transition: 0.5s;
    }
  }
  // top section
  // # LEFT PROJECT SPECIFIC LINKS
  .project-specific {
    float: left;
    margin: 0;
    color: $main_pal_9;
    span {
      line-height: 80px;
      padding: 5px 10px;
      text-transform: uppercase;
      transition: 0.5s;
    }
    span.project-specific-demo {
      color: $main_pal_5;
    }
    span:hover {
      color: $white !important;
      background: $main_pal_9;
    }
  }
  // # RIGHT LINKS
  .nav-right-links {
    float: right;
    margin: 0;
    a {
      line-height: 80px;
      padding: 5px 20px;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.5s;
    }
    a:hover {
      color: $white !important;
      background: $main_pal_9;
    }
  }
}
// # color changes
// * scrollspy
.nav-right-links .is-current a {
  color: $white !important;
}

nav.selected-home .nav-right-links a {
  transition: 0.5s;
  display: none;
}

nav.selected-about .logo h1 {
  color: $newDanger;
}
nav.selected-about .is-current a {
  background: $newDanger;
}
nav.selected-skills .logo h1 {
  color: $newSuccess;
}
nav.selected-skills .is-current a {
  background: $newSuccess;
}

nav.selected-experience .logo h1 {
  color: $newWarning;
}
nav.selected-experience .is-current a {
  background: $newWarning;
}
nav.selected-projects .logo h1 {
  color: $newSecondary;
}
nav.selected-projects .is-current a {
  background: $newSecondary;
}
// header main definition
nav.black {
  background: $black-transparent;
  height: 60px;
}
.nav-side-items a,
nav.black .nav-right-links a {
  color: $main_pal_10;
}
nav.black .logo img {
  height: 60px;
}
// medias
@media (min-width: 769px) {
  .nav-right-links {
    display: inline;
  }
  .burger-button {
    display: none;
  }
}
@media (max-width: 768px) {
  .nav-right-links {
    display: none;
  }
  .burger-button {
    display: inline;
  }
}
