@import "../general/palette.scss";

.about-title {
  width: 100%;
  height: 100%;
  box-shadow: $shadow;
}

.about-content {
  background: $newInfo;
  color: $newPrimary;
  height: 100%;
  box-shadow: $shadow;
}
