.section-header {
  color: #231f20;
  font-family: "Cairo", sans-serif;
  font-size: 3.5rem;
}

.section-description {
  color: #231f20;
  height: 100%;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(53, 53, 53, 0);
          box-shadow: 5px 5px 0px 0px rgba(53, 53, 53, 0);
  text-align: justify;
  text-justify: inter-word;
}

.about-description {
  background: #6fab9e;
}

.skills-description {
  background: #fce373;
}

.experience-description {
  background: #a385bd;
}

.projects-description {
  background: #6fab9e;
}

.contact-description {
  background: #f8b5b8;
}

.section-title {
  width: 100%;
  color: #231f20;
  font-family: "Rajdhani", sans-serif;
  font-size: 8rem;
  text-align: center;
}

.letter-grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "row_1col_1 row_1col_2 row_1col_3" "row_2col_1 row_2col_2 row_2col_3" "row_3col_1 row_3col_2 row_3col_3" "row_4col_1 row_4col_2 row_4col_3";
}

.letter {
  line-height: 100px;
  margin: 0;
  padding: 0;
}

.row_1col_1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: row_1col_1;
}

.row_1col_2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: row_1col_2;
}

.row_1col_3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: row_1col_3;
}

.row_2col_1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: row_2col_1;
}

.row_2col_2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: row_2col_2;
}

.row_2col_3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: row_2col_3;
}

.row_3col_1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: row_3col_1;
}

.row_3col_2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: row_3col_2;
}

.row_3col_3 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: row_3col_3;
}

.row_4col_1 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: row_4col_1;
}

.row_4col_2 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: row_4col_2;
}

.row_4col_3 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: row_4col_3;
}

@-webkit-keyframes shadow-pop-text {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: 1px 1px #555555, 2px 2px #555555, 3px 3px #555555, 4px 4px #555555, 5px 5px #555555, 6px 6px #555555, 7px 7px #555555, 8px 8px #555555;
    -webkit-transform: translateX(8px) translateY(8px);
            transform: translateX(8px) translateY(8px);
  }
}

@keyframes shadow-pop-text {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: 1px 1px #555555, 2px 2px #555555, 3px 3px #555555, 4px 4px #555555, 5px 5px #555555, 6px 6px #555555, 7px 7px #555555, 8px 8px #555555;
    -webkit-transform: translateX(8px) translateY(8px);
            transform: translateX(8px) translateY(8px);
  }
}
/*# sourceMappingURL=sections.css.map */