@import "../general/palette.scss";
@import "../general/fonts.scss";
// section header
.section-header {
  @include sectionDescriptionHeaderFont;
}
// section description
.section-description {
  height: 100%;
  box-shadow: $shadow;
  text-align: justify;
  text-justify: inter-word;
  @include sectionDescriptionFont;
}

.about-description {
  background: $main_pal_9;
}
.skills-description {
  background: $main_pal_2;
}
.experience-description {
  background: $main_pal_4;
}
.projects-description {
  background: $main_pal_9;
}
.contact-description {
  background: $main_pal_8;
}

// section left letters
.section-title {
  width: 100%;
@include sectionHeaderFont;
  // word-wrap: break-word;
  text-align: center;
}
.letter-grid {
  display: grid;
  grid-template-areas:
    "row_1col_1 row_1col_2 row_1col_3"
    "row_2col_1 row_2col_2 row_2col_3"
    "row_3col_1 row_3col_2 row_3col_3"
    "row_4col_1 row_4col_2 row_4col_3";
}
.letter {
  line-height: 100px; // << media for this guy
  margin: 0;
  padding: 0;
}
.row_1col_1 {
  grid-area: row_1col_1;
}
.row_1col_2 {
  grid-area: row_1col_2;
}
.row_1col_3 {
  grid-area: row_1col_3;
}
.row_2col_1 {
  grid-area: row_2col_1;
}
.row_2col_2 {
  grid-area: row_2col_2;
}
.row_2col_3 {
  grid-area: row_2col_3;
}
.row_3col_1 {
  grid-area: row_3col_1;
}
.row_3col_2 {
  grid-area: row_3col_2;
}
.row_3col_3 {
  grid-area: row_3col_3;
}
.row_4col_1 {
  grid-area: row_4col_1;
}
.row_4col_2 {
  grid-area: row_4col_2;
}
.row_4col_3 {
  grid-area: row_4col_3;
}
