@import "../general/palette.scss";
@import "../general/fonts.scss";

.skills-title {
  width: 100%;
  height: 100%;
  box-shadow: $shadow;
}
.skills-category {
  @include skillsCategoriesFont;
}
.badge {
  color: $main_pal_1 !important;
}
.progress-bar {
  color: $main_pal_10 !important;
}
.skill-description {
  @include skillsLabelFont;
}
